// Primary Color
primary-color = {
    base              : #67BE6D,
    unsaturated       : #5D8E61,
    dark              : #217B27,
    light             : #92DE97,
    light-unsaturated : #A6DEAA
}
EBGreen = primary-color


// Secondary Color A:
secondary-color = {
    base              : #BDE07A
    unsaturated       : #94A86F
    dark              : #6D9228
    light             : #D3F09E
    light-unsaturated : #DBF0B3
}
EBYellowGreen = secondary-color


// Secondary Color B:
tertiary-color = {
    base              : #C36A9A
    unsaturated       : #92607B
    dark              : #7F2255
    light             : #E194BE
    light-unsaturated : #E1A8C7
}
EBPurple = tertiary-color

// Complementary Color:
complementary-color = {
    base              : #F18683
    unsaturated       : #B57877
    dark              : #9D2D2B
    light             : #F8A5A3
    light-unsaturated : #F8BBBA
}
EBRed = complementary-color

// Grays:
grays = {
    light  : #CCCCCC,
    medium : #999999,
    dark   : #444444
}
EBGrays = grays
